*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}
.header{
    background-color: rgb(147 147 147 / 86%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.container{
    max-width: 1264px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
    
    padding: 20px 20px 20px 20px;
}
.nav-link a:hover{
    text-decoration: underline;
}
.menu-btn a:hover{
    text-decoration: underline;
}
.menu{
    display: flex;
}
.menu-btn a{
    margin-left: 20px;
   
}
.nav-link{
    display: flex;
}
.li-nav{
    padding-left: 24px;
}
.nav-link li{
    padding-left: 20px;
}


.image{
    background:url(img/01-11-2048x1365.jpg) ;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    color: #fff;
    font-size: 40px;
    padding-bottom: 18%;
    
}

.second-page_content{
    padding-top: 83px;
}
.second-page_box {
    display: flex;
    padding-bottom: 5em;
}
.second-page_text {
    padding-left: 100px;
    line-height: 24px;
    padding-right: 2em;
}
.second-page_text2{
    padding-right: 100px;
    line-height: 24px;
    max-width: 606px;
    padding-left: 2em;
} 
.second-page_title {
    font-weight: 700;
}
.second-page_img {
    max-width: 500px;
}
.third-page {
    background-color: #e7ebf2;
}
.third-page_boxes {
    padding: 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.third-page_box {
    padding: 20px;
    border: solid;
    display: flex;
    justify-content: space-between;
    width: 500px;
    flex-wrap: wrap;
    background: #47C293;
    border-radius: 13px;
    border: none;
}
.third-page_box2 {
    padding: 20px;
    border: solid;
    display: flex;
    justify-content: space-between;
    width: 500px;
    flex-wrap: wrap;
    background: #FFBD98;
    border-radius: 13px;
    border: none;
}
.third-text{
    max-width: 330px;
}
.third-img {
    max-width: 149px;
    margin: 0 auto;
    
}

.third-title{
    padding-right: 7em;
    padding-bottom: 2em;
    font-size: 22px;
}
.third-p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding-top: 4em;
}
.third-text2{
    max-width: 330px;
}
.third-img2{
    max-width: 140px;
    
    
}

.third-title2{
    padding-right: 7em;
    padding-bottom: 2em;
    font-size: 22px;
}
.third-p2{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding-top: 4em;
}
.third-page_box3 {
    margin-top: 2em;
    padding: 20px;
    border: solid;
    display: flex;
    justify-content: space-between;
    width: 500px;
    flex-wrap: wrap;
    background: #95EFD6;
    border-radius: 13px;
    border: none;
}
.third-text3{
    max-width: 330px;
}
.third-img3{
    max-width: 150px;
    
    
}

.third-title3{
    padding-right: 7em;
    padding-bottom: 2em;
    font-size: 22px;
}
.third-p3{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding-top: 4em;
}
.contacts{
    padding: 60px 0 60px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
}
.contact1{
    padding-bottom: 2em;
}
.email{
    padding-bottom: 2em;
}
@media(max-width:1029px){
    .third-page_box{
        margin-bottom: 2em;
    }
}
@media(max-width:930px){
    .second-page_box{
        flex-wrap: wrap;
        
    }
    #second-page_box2{
        flex-direction: column-reverse;
    }
    .second-page_text2{
        padding-left: 100px;
        max-width: 60em;
    }
    .second-page_img{
        margin-left: 8em;
        padding-bottom: 1em;
    }
    .second-page_text{
        padding-right: 100px;
    }
}
@media(max-width:814px){
    .image{
        width: 46em;
    }
    .section2{
        width: 46em;
    }
    .section3{
        width: 46em;
    }
    .section4{
        width: 46em;
    }
}
@media(max-width:768px){
    .image{
        height: 108vh;
    }
}
@media(max-width:706px){
    .image{
        background-attachment:local;
    }
}
@media(max-width:599px){
    .nav-link{
        background: rgb(168, 168, 168);
        display: none;
        position: absolute;
        top: 59px;
        width: 100%;
        text-align: center;
        left: 0;
    }
    .nav-link a{
        display: block;
        padding: 10px 0;
    }
    .menu-burger{
        margin-left: 22em;
        width: 30px;
        height: 20px;
        position: relative;
    }
    .menu-burger span{
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: 9px;
        position: absolute;
    }
    .menu-burger::after,
    .menu-burger::before{
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
    }
    .menu-burger::after{
        top: 0;
    }
    .menu-burger::before{
        bottom: 0;
    }
}




@media(min-width:599px){
    .nav-link{
        display: flex !important;
    }
}

