*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
}
a{
    text-decoration: none;
    color: #fff;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-top{
    position: fixed;
}
.nav{
    position: fixed;
    padding-top: 1em;
    font-size: 20px;
    
}
.menu-list{
    display: flex;
}
.image{
    background:url(img/01-11-2048x1365.jpg) ;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100;
    height: 100vh;
}