*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #fff;
}
.header{
    background-color: rgb(147 147 147 / 58%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.container{
    max-width: 1264px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-link li:hover{
    text-decoration: underline;
}
.menu-btn a:hover{
    text-decoration: underline;
}
.menu{
    display: flex;
}
.menu-btn a{
    margin-left: 20px;
   
}
.nav-link{
    display: flex;
}
.li-nav{
    padding-left: 24px;
}
.nav-link li{
    padding-left: 20px;
}


.image{
    background:url(img/01-11-2048x1365.jpg) ;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    color: #fff;
    font-size: 40px;
    padding-bottom: 18%;
    
}

.second-page_content{
    padding-top: 83px;
}
.second-page_box {
    display: flex;
    padding-bottom: 5em;
}
.second-page_text {
    padding-left: 100px;
    line-height: 24px;
    
}
.second-page_text2{
    padding-right: 100px;
    line-height: 24px;
    max-width: 606px;
} 
.second-page_title {
    font-weight: 700;
}
.second-page_img {
    max-width: 500px;
}
.third-page {
    background-color: #e7ebf2;
}
.third-page_boxes {
    padding: 20px 0 20px;
}
.third-page_box {
    display: flex;
    border: solid;
    padding: 10px;
    
}

.third-img {
    width: 90px;
    margin: 0 auto;
    margin-right: 1em;
}